@import "@progress/kendo-theme-material/dist/all.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
}

h1 {
  font-family: sans-serif;
}

td {
  border: 1px solid grey;
}

