@import "@progress/kendo-theme-material/dist/all.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
}

h1 {
  font-family: sans-serif;
}

:host ::ng-deep .k-grid .k-table {
  border-collapse: separate;
  border-spacing: 0 16px;
}

:host ::ng-deep .k-grid .k-table tbody td {
  border-top: 1px solid #d5d9e2;
  border-bottom: 1px solid #d5d9e2;
}

:host ::ng-deep .k-grid .k-table tbody td:first-child {
  border-left: 1px solid #d5d9e2;
}

:host ::ng-deep .k-grid .k-table tbody td:last-child {
  border-right: 1px solid #d5d9e2;
}

